*{
    box-sizing: border-box;
}
body{
    background-color: #124170;
}
.common-box{
    display:flex;
    margin:auto;
}
.commonq{
    background-color:#AAFFC7;
    border-width:5px;
    border-style:solid;
    border-radius:8px;
    border-color:#325E6A;
    text-align:center;
    display:inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin :25px auto;
}
.commonq h2{
    color: white;
    text-shadow: 1px 1px rgb(73, 73, 73);
    background-color:#325E6A;
    margin:0 auto;
    padding:20px;
    margin-bottom:10px;
    
}

.questions{
    border:solid;
    border-width:3px;
    border-color:#67C090;
    border-radius:5px;
    padding:15px;
    display:block;
    margin: 10px auto;
    margin-bottom:10px;
    width:max-content;
    color:white;
    background-color: #325E6A;
    box-shadow: 2px 2px #2d5540;
    transition: opacity 0.15s;
}
.questions:hover{
    cursor:pointer;
    opacity: 0.6;
}
.questions:active{
    border-color:#67C090;
    color: #325E6A;
    background-color:white;
}

@media screen and (max-width: 1024px) {
    .commonq {
        margin-bottom: 700px;
    }
}

@media screen and (max-width: 768px) {
    .commonq {
        margin-bottom: 200px;
    }
}
