body{
    background-color: #124170;
}
.form-box{
    display:flex;
    margin: 20px auto;
}
.formrequest{
    background-color:#AAFFC7;
    border-width:5px;
    border-style:solid;
    border-radius:8px;
    border-color:#325E6A;
    text-align:center;
    display: inline-flex;
    margin:auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.formrequest h2{
    color: white;
    text-shadow: 1px 1px rgb(73, 73, 73);
    background-color:#325E6A;
    margin:0 auto;
    padding:20px;
    
}
label{
    display:block;
}
.mainlabel{
    background-color:#325E6A;
    margin: 0 auto;
    border-radius:10px;
    align-items: center;
    text-align: center;
    padding:8px;
    color:white;
    width:max-content;
    margin-top:5px;
    margin-bottom:5px;
}

.muc, .thongbao{
    display:inline-block;
    padding-right:20px;
}

#hoten, #sdt, #tendo{
    border:solid;
    border-width:3px;
    border-color:#325E6A;
    width:250px;
    height:25px;
}
textarea{
    min-width:200px;
    min-height:100px;
    max-width:300px;
    max-height:150px;
    border-color:#325E6A;
    border-width:3px;
}
#hoten, #sdt, #tendo, textarea:focus{
    outline:none;
}

.nutgui{
    display:block;
    align-items: center;
    margin: 0 auto;
    padding-left:30px;
    padding-right:30px;
    padding-top:10px;
    font-size:15px;
    padding-bottom:10px;
    text-align:center;
    border-radius:5px;
    background-color:white;
    border-color:#325E6A;
    border-width:3px;
    color:#325E6A;
    box-shadow:2px 2px rgb(83, 83, 83);
    margin-bottom:10px;
    transition: opacity 0.15s;
}
.nutgui:hover{
    opacity: .5;
}
@media screen and (max-width:450px) {
    
}