.formrequest{
    margin-top:70px;
    border-width:2px;
    border-style:solid;
    border-color:black;
    text-align:center;
    margin-left:300px;
    margin-right:300px;
}
label{
    display:block;
}
.mainlabel{
    padding-top:10px;
    text-decoration: bold;
}
.muc, .thongbao{
    display:inline-block;
    padding-right:30px;
}
textarea{
    max-width:500px;
    max-height:300px;
}